<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControllerUsuario</servlet-name>
  	<display-name>ControllerUsuario</display-name>
  	<description></description>
  	<servlet-class>controller.ControllerUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerProfesor</servlet-name>
  	<display-name>ControllerProfesor</display-name>
  	<description></description>
  	<servlet-class>controller.ControllerProfesor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerAlumno</servlet-name>
  	<display-name>ControllerAlumno</display-name>
  	<description></description>
  	<servlet-class>controller.ControllerAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerUsuario</servlet-name>
  	<url-pattern>/ControllerUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerProfesor</servlet-name>
  	<url-pattern>/ControllerProfesor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerAlumno</servlet-name>
  	<url-pattern>/ControllerAlumno</url-pattern>
  </servlet-mapping>
</web-app>
